<% if(userInSession !== undefined && userInSession.rolesId === 1) { %> 
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
intent="WELCOME"
chat-icon="/img/iconos-png/pikabot.png"
chat-title="MYYM-GAMERS"
agent-id="4e3c88d6-e2b6-4fc8-9b61-c4b5050384ab"
language-code="es"
></df-messenger>
  <% } %> 
<header>
  <div class="main-header">
    <!-- Menu hamburguesa -->
    <div class="container-menu">

      <div class="btn-hamburguesa" onclick="dropMenu()">
        <svg class="bars" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
          <path class="line top"
            d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272">
          </path>
          <path class="line middle"
            d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272">
          </path>
          <path class="line bottom"
            d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272">
          </path>
        </svg>
      </div>

      <!-- desplegable para mobile -->
      <nav class="menu" id="navigation-bar-mobile">
        <ul class="menu-ul">
          <li class="menu-item" onclick="dropSubCategoryMenu(`account`)">
            <% if (userInSession) { %>
              <a href="#">
                <%- userInSession.user %>
              </a>
              <ul class="sub-menu" id="account">
                <li><a href="/profile">Mi perfil</a></li>
                <li><a href="/favorites">Favoritos</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
                <% if (userInSession.rolesId == 2 || userInSession.rolesId == 3) { %>
                  <li><a href="/admin">Opciones de <br> administrador</a></li>
                  <% } %>
              </ul>
              <% } else { %>
                <a href="#">Mi cuenta</a>
                <ul class="sub-menu" id="account">
                  <li><a href="/register">Registrarse</a></li>
                  <li><a href="/login">Iniciar sesión</a></li>
                </ul>
                <% } %>
          </li>
          <li class="menu-item" onclick="dropSubCategoryMenu(`category`)">
            <a href="#"> Categorías</a>
            <ul class="sub-menu" id="category">
              <li><a href="">Consolas</a></li>
              <li><a href="">Videojuegos</a></li>
              <li><a href="">Accesorios</a></li>
              <li><a href="">Zona retro</a></li>
              <li><a href="">Marcas</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- fin del desplegable -->
    </div>
    <!-- fin del menu hamburgusa -->

    <!-- Logo -->
    <div class="logo">
      <a href="/"><img width="100%" src="/img/Logo1.png" alt="logo" /></a>
    </div>

    <!-- icono buscador -->
    <div class="btn-search search-icon" onclick="dropSearch()">
      <i class="fas fa-search"></i>
    </div>

    <!-- barra de busqueda -->
    <form action="/search" method="GET" id="search">
      <input class="search" type="search" name="keywords" placeholder="Buscar productos, marcas y más" />
      <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
    </form>

    <!-- boton de mi cuenta -->
    <div class="account" onclick="dropAccount(`btnAccount`)">
      <div class="avatar">
        <% if (userInSession) { %>
          <img src="/img/userAvatars/<%= user.avatar %> " alt="" style="width: 85%; border-radius: 50%;">
          <% } else { %>
            <i class="fas fa-user-circle"></i>
            <% } %>
      </div>
      <div class="btn-account">
        <% if (userInSession) { %>
          <p>
            <%- userInSession.user %>
          </p>
          <% } else { %>
            <p>Mi cuenta</p>
            <% } %>
      </div>
      <i class="arrow fas fa-chevron-down"></i>
      <!-- Desplegable de botón mi cuenta -->
      <div class="drop-account" id="btnAccount">
        <ul>
          <% if (userInSession) { %>
            <li><a href="/profile">Mi perfil</a></li>
            <li><a href="/favorites">Mis favoritos</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
            <% if (userInSession.rolesId == 2 || userInSession.rolesId == 3) { %>
              <li><a href="/admin">Opciones de <br> administrador</a></li>
              <% } %>
                <% } else { %>
                  <li><a href="/register">Registrarse</a></li>
                  <li><a href="/login">Iniciar sesión</a></li>
                  <% } %>
        </ul>
      </div>
    </div>

    <!-- Botón Carrito -->
    <a href="/shoppingCart">
      <div class="shoppingCart">
        <div class="cart">
          <i class="fas fa-cart-plus"></i>
        </div>
        <h4 class="total">$0,00</h4>
      </div>
    </a>
  </div>

  <!-- comienzo del nav para tablet y desktop -->
  <nav class="navbar" id="navigation-bar-mobile">
    <ul id="list-menu" class="container-principal">
      <li class="item-categoria item">
        <div class="drop" onclick="dropNav(`categ`)"> Categorías</div>       
        <div class="general" id="categ">
          <div class="sub-category">
            <ul class="sub-item">
              <% locals.categories.forEach(category => { %>               
                <li><a href="#" id="<%- category.id %>"><%- category.name %> </a></li>
              <%   })  %> 
            </ul>
          </div>
          <% locals.categories.forEach(category => { %> 
          <div class="dropdown-rigth" id="<%- category.id %>" style="display: none;">
            
            <div class="consolas">
              <h4 id="title"><a href=""><%- category.name %></a></h4>

              <div class="row" id="cambio">
                <ul>
                  <% if (category.subcategories && category.subcategories.length > 0) { %>
                      <% category.subcategories.forEach(subcategory => { %>
                      <li><a href="/filteredProducts/<%- subcategory.id %> "><%- subcategory.name %> </a></li>
                      <% }) %>
                      <li><a href="">Ver todas...</a></li>
                  <% } else { %>
                    <li><a href="">No hay subcategorías <br> disponibles para <br> esta categoría</a></li>
                    <% } %>                  
                </ul>
                <div class="img-desplegables">

                      <% function random_item(items) { %>
                        <% return items[Math.floor(Math.random() * items.length)]; %>
                        <% } %>

                        <% var items = ["<img src='/img/iconos-png/kula.png' alt='kula'>", "<img src='/img/iconos-png/mk.png' alt='mk'>", "<img src='/img/iconos-png/pngegg.png' alt='katarina'>", "<img src='/img/iconos-png/personajesNintendo.png' alt='personajesNintendo'>", "<img src='/img/iconos-png/wow.png' alt='wow'>", "<img src='/img/iconos-png/sf1.png' alt='sf'"]; %>
                        <%- random_item(items) %> 
                </div>
              </div>
            </div>
          </div>
          <%  }) %> 
        </div>
      </li>
      <li class="item-marcas item"><div class="drop" onclick="dropNav(`marcas`)">Marcas</div>
        <div class="general" id="marcas">
          <div class="sub-category">
            <ul class="sub-item ul-mark">
              <li><a href="#A" id="markA">A</a></li>
              <li><a href="#B" id="markB">B</a></li>
              <li><a href="#C" id="markC">C</a></li>
              <li><a href="#D" id="markD">D</a></li>
              <li><a href="#E" id="markE">E</a></li>
              <li><a href="#F" id="markF">F</a></li>
              <li><a href="#G" id="markG">G</a></li>
              <li><a href="#H" id="markH">H</a></li>
              <li><a href="#I" id="markI">I</a></li>
              <li><a href="#J" id="markJ">J</a></li>
              <li><a href="#K" id="markK">K</a></li>
              <li><a href="#L" id="markL">L</a></li>
              <li><a href="#M" id="markM">M</a></li>
              <li><a href="#N" id="markN">N</a></li>
              <li><a href="#O" id="markO">O</a></li>
              <li><a href="#P" id="markP">P</a></li>
              <li><a href="#Q" id="markQ">Q</a></li>
              <li><a href="#R" id="markR">R</a></li>
              <li><a href="#S" id="markS">S</a></li>
              <li><a href="#T" id="markT">T</a></li>
              <li><a href="#U" id="markU">U</a></li>
              <li><a href="#V" id="markV">V</a></li>
              <li><a href="#W" id="markW">W</a></li>
              <li><a href="#X" id="markX">X</a></li>
              <li><a href="#Y" id="markY">Y</a></li>
              <li><a href="#Z" id="markZ">Z</a></li>
            </ul>
          </div>
          <div class="drop-rigth">           
            <div class="column" id="cambio">
              <h4 id="A"><a href="">A</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('A', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="B"><a href="">B</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('B', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="C"><a href="">C</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('C', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="D"><a href="">D</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('D', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="E"><a href="">E</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('E', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="F"><a href="">F</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('F', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="G"><a href="">G</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('G', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="H"><a href="">H</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('H', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="I"><a href="">I</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('I', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="J"><a href="">J</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('J', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="K"><a href="">K</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('K', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="L"><a href="">L</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('L', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="M"><a href="">M</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('M', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="N"><a href="">N</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('N', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="P"><a href="">P</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('P', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="Q"><a href="">Q</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('Q', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="R"><a href="">R</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('R', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="S"><a href="">S</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('S', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="T"><a href="">T</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('T', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="U"><a href="">U</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('U', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="V"><a href="">V</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('V', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="W"><a href="">W</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('W', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="X"><a href="">X</a></h4>
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('X', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>
            </div>
            <div class="column">
              <h4 id="Y"><a href="">Y</a></h4>              
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('Y', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>            
            </div>
            <div class="column">
              <h4 id="Z"><a href="">Z</a></h4>              
              <% locals.marks.forEach(mark => { %>
                <ul>
                  <% if (mark.name.startsWith('Z', 0)) { %>
                    <li><a href="/filteredMarksProducts/<%- mark.id %>"><%- mark.name %> </a></li>
                  <% } %>
                </ul>
              <% }) %>            
            </div>
          </div>
      </li>
      <li class="item-ofertas item"><a href="/offers">Ofertas</a></li>
      <li class="item-zonaRetro item"><a href="/retro">Zona Retro</a></li>
    </ul>
  </nav>
</header>