<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/header') %>

            <main class="main-admin">
                <form action="/admin/user/create" method="POST" id="formUser">
                <div>
                    <div class="volver">
                        <a href="/admin/userList">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
                <section class="charge">
                    <h2>Agregar Usuario</h2>
                    <div class="freight">
                        <div class="formAdmin">
                            <div class="flex">
                                <label for="usuario">Usuario</label>
                                <div class="input">
                                    <input type="text" placeholder="Pepito" id="usuario" name="user" value="<%= locals.old && old.user %>"/>
                                    <% if(locals.errors && errors.user) { %>
                                        <small class="text-danger">
                                            <%= errors.user.msg %>
                                        </small>
                                        <% } %>
                                        <small class="text-danger" id="userErrors"></small>
                                </div>

                                <label for="name">Nombre</label>
                                <div class="input">
                                    <input type="text" placeholder="Ej: Pepito" id="name" name="name" />
                                </div>

                                <label for="lasname">Apellido</label>
                                <div class="input">
                                    <input type="text" placeholder="Ej: Perez" id="lasname" name="lastname" />
                                </div>

                                <label for="telephone">Teléfono</label>
                                <div class="input">
                                    <input type="text" name="telephone" id="telephone" placeholder="0800-0000" />
                                </div>
                                
                                <label for="email">E-mail</label>
                                <div class="input">
                                    <input type="email" placeholder="usuario@gmail.com" id="email" name="email" value="<%= locals.old && old.email %>"/>
                                    <% if(locals.errors && errors.email) { %>
                                        <small class="text-danger">
                                            <%= errors.email.msg %>
                                        </small>
                                        <% } %>
                                        <small class="text-danger" id="emailErrors"></small>
                                </div>

                                <label for="password">Contraseña</label>
                                <div class="input">
                                    <input type="password" placeholder="********" id="password"
                                        name="password" value="<%= locals.old && old.password %>"/>
                                        <% if(locals.errors && errors.password) { %>
                                            <small class="text-danger">
                                                <%= errors.password.msg %>
                                            </small>
                                            <% } %>
                                            <small class="text-danger" id="passwordErrors"></small>
                                </div>

                                                              
                               
                            </div>
                            <div class="flex">                               
                                

                                <label for="province">Provincia</label>
                                <div class="input">
                                    <select name="province" id="province" class="citySelect">
                                        <option value="" selected disabled>Provincias</option>
                                    </select>
                                </div>

                                <label for="location">Localidad</label>
                                    <div class="input">
                                        <select name="location" id="location" class="locationSelect">
                                            <option value="" selected disabled>Localidades</option>
                                        </select>
                                        <% if(locals.errors && errors.location) { %>
                                            <small class="text-danger">
                                                <%= errors.location.msg %>
                                            </small>
                                            <% } %>
                                                <small class="text-danger" id="locationErrors"></small>
                                    </div>

                                <label for="postalCode">Código Postal</label>
                                <div class="input">
                                    <input type="number" placeholder="Ej: 1629" id="postalCode" name="postalCode" value="<%= locals.old && old.postalCode %>"/>
                                    <% if(locals.errors && errors.postalCode) { %>
                                        <small class="text-danger">
                                            <%= errors.postalCode.msg %>
                                        </small>
                                        <% } %>
                                    <small class="text-danger" id="postalCodeErrors"></small>
                                </div>
                                
                                <label for="direction">Dirección</label>
                                <div class="input">
                                    <input type="text" placeholder="Ej: Calle falsa 123" id="direction"
                                        name="address" />
                                </div>  
                                

                                <label for="rol">Rol</label>
                                <div class="input">
                                    <select name="rol" id="rol">
                                        <option value="2">Administrador</option>
                                        <option value="1" selected>Usuario</option>
                                        <option value="3" >Encargado</option>
                                    </select>
                                    <small class="text-danger" id="rolErrors"></small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <small class="text-danger" id="formErrors"></small>
                    <div class="btn-publish">
                        <button class="publish" type="submit">Guardar</button>
                    </div>

                </section>
            </form>
            </main>
            <script src="/js/validationsFront/usersAdminValidations.js"></script>
            <script src="/js/addresses.js" defer></script>
    </body>

</html>