<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/header') %>

            <main class="main-admin">
                <form action="/admin/products/edit/<%= product.id %>?_method=PUT " method="POST"
                    enctype="multipart/form-data">
                    <div class="cargaDeFotos">
                        <div class="volver">
                            <a href="/admin/products">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="subirFoto">
                            <div class="prevImage">
                                <% locals.product.productimage.forEach(image => { %>
                                <% if (locals.product.productimage && locals.product.productimage.length > 0) { %>
                                    <img src="/img/Productos Gamers/<%= image.url %>" alt="" id="imagenPrevisualizacion">
                                    <% } else { %>
                                        <img id="imagenPrevisualizacion">
                                        <% } %>
                                 <% }) %>
                            </div>
                            <div class="inputFile">
                                <label for="seleccionArchivos">
                                    <img src="/img/iconos-png/subirFoto.png" alt="" />
                                </label>
                                <input type="file" name="image" accept=".jpg, .png" multiple id="seleccionArchivos"
                                <% locals.product.productimage.forEach(image => { %>
                                    value="<%= locals.old ? old.image : image.url %>" />
                                <% }) %>
                                    

                            </div>
                        </div>
                    </div>
                    <section class="charge">
                        <h2>Editar producto</h2>
                        <div class="freight">
                            <div class="formAdmin">
                                <div class="flex">
                                    <label for="name">Nombre del producto</label>
                                    <div class="input">
                                        <input type="text" value="<%= locals.old ? old.name : product.name %>" id="name"
                                            name="name" />
                                        <small class="text-danger" id="nameErrors"></small>
                                        <% if (locals.errors && errors.name) { %>
                                            <small class="text-danger" id="nameErrors">
                                                <%= errors.name.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="price">Precio del producto</label>
                                    <div class="input">
                                        <input type="number" min="0"
                                            value="<%= locals.old ? old.price : product.price %>" id="price"
                                            name="price" />
                                        <small class="text-danger" id="priceErrors"></small>
                                        <% if (locals.errors && errors.price) { %>
                                            <small class="text-danger" id="priceErrors">
                                                <%= errors.name.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="discount">Descuento del producto</label>
                                    <div class="input">
                                        <input type="number" min="0"
                                            value="<%= locals.old ? old.discount : product.discount %>" id="discount"
                                            name="discount" />
                                    </div>
                                    
                                    <label for="brand">Marca</label>
                                    <div class="input">
                                        <select name="mark" id="mark">
                                            <option value="" selected disabled>Marcas</option>
                                            <% locals.marks.forEach(mark => { %>
                                                <option value="<%- mark.id %>" <%- locals.old && old.mark == mark.id ? "selected" : mark.id == product.markId ? "selected" : "" %> ><%- mark.name %>
                                                </option>
                                                <% }) %>

                                        </select>
                                        <small class="text-danger" id="markErrors"></small>
                                        <% if(locals.errors && errors.mark) { %>
                                            <small class="text-danger">
                                                <%= errors.mark.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="mainFeatures">Características principales</label>
                                    <div class="input">
                                        <textarea name="mainFeatures" id="mainFeatures" cols="30"
                                            rows="10"><%= locals.old ? old.mainFeatures : product.mainFeatures %></textarea>
                                        <small class="text-danger" id="mainFeaturesErrors"></small>
                                        <% if(locals.errors && errors.mainFeatures) { %>
                                            <small class="text-danger">
                                                <%= errors.mainFeatures.msg %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>

                                <div class="flex">
                                    <label for="categoria-form">Categoría</label>
                                    <div class="input">
                                        <select name="categorie" id="categoria-form" class="categorySelect">
                                            <option value="" hidden>Categorias</option>
                                                <% locals.categories.forEach(category => { %>
                                                <option value="<%- category.id %>" <%- locals.old && old.category == category.id ? "selected" : category.id == categoryProduct ? "selected" : "" %>><%- category.name %></option>
                                             <% }) %>     
                                               
                                        </select>
                                        <small class="text-danger" id="categoryErrors"></small>
                                        <% if(locals.errors && errors.category) { %>
                                            <small class="text-danger">
                                                <%= errors.category.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="subCategoria-form">Subcategoría</label>
                                    <div class="input">
                                        <select name="subcategorie" id="subcategoria-form" class="subcategorySelect">
                                            <option value="" selected disabled>Subcategorías</option>
                                           
                                        </select>
                                        <% if (locals.errors && errors.subcategory) { %>
                                            <small class="text-danger">
                                                <%= errors.subcategory.msg %>
                                            </small>
                                            <% } %>
                                                <small class="text-danger" id="subcategoryErrors"></small>
                                                </datalist>
                                                <% if(locals.errors && errors.subcategory) { %>
                                                    <small class="text-danger">
                                                        <%= errors.subcategory.msg %>
                                                    </small>
                                                    <% } %>
                                    </div>

                                    <label for="codigo">Código de producto</label>
                                    <div class="input">
                                        <input type="number" min="0" name="barcode"
                                            value="<%= locals.old ? old.barcode : product.barcode %>" id="codigo" />

                                            <% if(locals.errors && errors.barcode) { %>
                                                <small class="text-danger" id="barcodeErrors">
                                                    <%= errors.barcode.msg %>
                                                </small>
                                                <% } %>
                                                    <small class="text-danger" id="barcodeErrors"></small>
                                    </div>

                                    <label for="stock">Stock</label>
                                    <div class="input">
                                        <input type="number" min="0" name="stock"
                                            value="<%= locals.old ? old.stock : product.stock %>" id="stock" />
                                    </div>


                                    <label for="description">Descripción del producto</label>
                                    <div class="input">
                                        <textarea name="description" id="description" cols="30"
                                            rows="10"><%= locals.old ? old.description :  product.description %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-danger" id="submitErrors"></small>
                        <div class="btn-publish">
                            <button class="publish" type="button"><a href="../">Cancelar</a></button>
                            <button class="publish" type="submit">Guardar</button>
                        </div>
                    </section>
                </form>
            </main>
            <script src="/js/prevDeImg.js" defer></script>
            <script src="/js/adminCategories.js" defer></script>
            <script src="/js/validationsFront/cargaDeProductos.js"></script>
    </body>

</html>