<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/header') %>

            <main class="main-admin">
                <form action="/admin/sucursals/edit/<%= sucursal.id %>?_method=PUT " method="POST" id="formSucursal">
                
                <div>
                    <div class="volver">
                        <a href="/admin/sucursals">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
                <section class="charge">
                    <h2>Editar sucursal</h2>
                    <div class="freight">
                        <div class="formAdmin">
                            <div class="flex">
                                <label for="city">Provincia</label>
                                    <div class="input">
                                        <select name="city" id="city" class="citySelect">
                                            <option value="" selected disabled>Provincias</option>
                                        </select>
                                        <% if(locals.errors && errors.location) { %>
                                            <small class="text-danger">
                                                <%= errors.location.msg %>
                                            </small>
                                            <% } %>
                                                <small class="text-danger" id="cityErrors"></small>
                                    </div>

                                    <label for="location">Localidad</label>
                                    <div class="input">
                                        <select name="location" id="location" class="locationSelect">
                                            <option value="<%= sucursal.Address.state %>" selected disabled>Localidades</option>                                           
                                        </select>
                                        <% if(locals.errors && errors.location) { %>
                                            <small class="text-danger">
                                                <%= errors.location.msg %>
                                            </small>
                                            <% } %>
                                                <small class="text-danger" id="locationErrors"></small>
                                    </div>                                

                                <label for="direction">Dirección</label>
                                <div class="input">
                                    <input type="text" value="<%= sucursal.Address.address %>"  id="direction" name="direction" />
                                    <% if(locals.errors && errors.direction) { %>
                                        <small class="text-danger">
                                            <%= errors.direction.msg %>
                                        </small>
                                        <% } %>
                                        <small class="text-danger" id="directionErrors"></small>
                                </div>

                                <label for="postalCode">Código Postal</label>
                                <div class="input">
                                    <input type="number" name="postalCode" id="postalCode" placeholder="1629" value="<%- sucursal.Address.postalCode %>" />
                                    <% if(locals.errors && errors.postalCode) { %>
                                        <small class="text-danger">
                                            <%= errors.postalCode.msg %>
                                        </small>
                                        <% } %>
                                        <% if(locals.errors && errors.postalCode) { %>
                                            <small class="text-danger">
                                                <%= errors.postalCode.msg %>
                                            </small>
                                            <% } %>
                                            <small class="text-danger" id="postalCodeErrors"></small>
                                    </div>
                            </div>
                            <div class="flex">                                

                                <label for="telephone">Teléfono</label>
                                <div class="input">
                                    <input type="text" name="telephone" id="telephone" value="<%= sucursal.telephone %>"  />
                                    <% if(locals.errors && errors.telephone) { %>
                                        <small class="text-danger">
                                            <%= errors.telephone.msg %>
                                        </small>
                                        <% } %>
                                        <small class="text-danger" id="telephoneErrors"></small>
                                </div>

                                <label for="schedule">Horarios</label>
                                <div class="input">
                                    <textarea name="schedule" id="schedule" cols="30" rows="9"
                                    value="<%= sucursal.schedule %>" ><%= sucursal.schedule %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-danger" id="sucursalsErrors"></small>
                    <div class="btn-publish">
                        <button class="publish" type="button" id="cancel"><a href="../">Cancelar</a></button>
                        <button class="publish" type="submit">Guardar</button>
                    </div>
                </section>
                </form>
            </main>
            <script src="/js/validationsFront/sucursalsValidations.js"></script>
            <script src="/js/addresses.js" defer></script>
    </body>

</html>