<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/header') %>

            <main class="main-admin">
                <form action="/admin/users/edit/<%= user.id %>?_method=PUT " method="POST" id="formUser">

                <div>
                    <div class="volver">
                        <a href="/admin/userList">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
                
                <section class="charge">
                    <h2>Editar Usuario</h2>
                    <div class="freight">
                        <div class="formAdmin">
                            <div class="flex">
                                <label for="usuario">Usuario</label>
                                <div class="input">
                                    <input type="text" value="<%= user.user %>" id="usuario" name="user" />
                                    <% if(locals.errors && errors.user) { %>
                                        <small class="text-danger">
                                            <%= errors.user.msg %>
                                        </small>
                                        <% } %>
                                        <small class="text-danger" id="userErrors"></small>
                                </div>

                                <label for="name">Nombre</label>
                                <div class="input">
                                    <input type="text" value="<%= user.name %>" id="name" name="name" />
                                </div>

                                <label for="lasname">Apellido</label>
                                <div class="input">
                                    <input type="text" value="<%= user.lastName %>" id="lasname" name="lastname" />
                                </div>

                                <label for="telephone">Teléfono</label>
                                <div class="input">
                                    <input type="text" name="telephone" id="telephone" value="<%= user.telephone %>" />
                                </div>
                                
                                <label for="email">E-mail</label>
                                <div class="input">
                                    <input type="email" value="<%= user.email %>" id="email" name="email" />
                                    <% if(locals.errors && errors.email) { %>
                                        <small class="text-danger">
                                            <%= errors.email.msg %>
                                        </small>
                                        <% } %>
                                        <small class="text-danger" id="emailErrors"></small>
                                </div>
                               
                            </div>
                            <div class="flex">                                

                                <label for="province">Provincia</label>
                                <div class="input">
                                    <select name="province" id="province" class="citySelect">
                                        <option value="" selected disabled>Provincias</option>
                                    </select>
                                </div>

                                <label for="location">Localidad</label>
                                    <div class="input">
                                        <select name="location" id="location" class="locationSelect">
                                            <option value="" selected disabled>Localidades</option>
                                        </select>
                                        <% if(locals.errors && errors.location) { %>
                                            <small class="text-danger">
                                                <%= errors.location.msg %>
                                            </small>
                                            <% } %>
                                                <small class="text-danger" id="locationErrors"></small>
                                    </div>

                                <label for="postalCode">Código Postal</label>
                                <div class="input">
                                    <input type="number" placeholder="Ej: 1629" id="postalCode" name="postalCode" value="<%= user.Addresse ? user.Addresse.postalCode : ""%>"/>
                                    <% if(locals.errors && errors.postalCode) { %>
                                        <small class="text-danger">
                                            <%= errors.postalCode.msg %>
                                        </small>
                                        <% } %>
                                    <small class="text-danger" id="postalCodeErrors"></small>
                                </div>   

                                <label for="direction">Dirección</label>
                                <div class="input">
                                    <input type="text" value="<%= user.Addresse ? user.Addresse.address : "" %>" id="direction"
                                        name="address" />
                                </div>                           

                                <label for="rol">Rol</label>
                                <div class="input">
                                    <select name="rol" id="rol">
                                        <option selected disabled>Selecionar rol</option>
                                        <option value="2">Administrador</option>
                                        <option value="1" >Usuario</option>
                                        <option value="3" >Encargado</option>
                                    </select>
                                    <small class="text-danger" id="rolErrors"></small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <small class="text-danger" id="formErrors"></small>
                    <div class="btn-publish">                        
                        <button class="publish" type="button" id="cancel"><a href="/admin/userList">Cancelar</a></button>
                        <button class="publish" type="submit">Guardar</button>
                    </div>
                </section>
            </form>
            </main>
            <script src="/js/validationsFront/usersEditAdminValidations.js"></script>
            <script src="/js/addresses.js" defer></script>
    </body>

</html>