<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
    <script src="/js/editProfile.js" defer></script>
    <script src="/js/editProVal.js" defer></script>

    <body>
        <%- include('../partials/header')%>
            <main class="userProfile">
                <form id="formPro" action="/profile/editprofile/<%= user.id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data">
                    <div class="profile-container">
                        <div style="width: fit-content;height: fit-content;display: contents;" alt="">
                            <div class="fileInputz">
                                <p>Subir foto de perfil</p>
                                <input type="file" name="avatar" id="examinar">
                            </div>
                            <span class="error-message" id="errorMsg"></span>
                        </div>
                        <div class="inputs-container">
                            <div class="profileData">
                                <div class="form">
                                    
                                        <h3 class="profile-title">Datos personales</h3>
                                        <div class="form">
                                    <div class="input-container">
                                        <input class="input-style" id="userPro" type="text" name="user"
                                            placeholder="usuario" value="<%= user.user ? user.user : "" %>">
                                        <span class="error-message" id="userErrorPro">
                                            <%= (locals.errors && errors.user) ? errors.user.msg : "" %>
                                        </span>

                                    </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" id="namePro" type="text" name="name"
                                                placeholder="nombre" value="<%= user.name ? user.name : "" %>">
                                                <span class="error-message" id="nameErrorPro">
                                                    <%= (locals.errors && errors.name) ? errors.name.msg : "" %>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" id="lastNamePro" type="text" name="lastName"
                                                placeholder="apellido"
                                                value="<%= user.lastName ? user.lastName : "" %>">
                                                <span class="error-message" id="lastNameErrorPro">
                                                    <%= (locals.errors && errors.lastName) ? errors.lastName.msg : "" %>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="email" name="email" placeholder="email"
                                                readonly value="<%= user.email %>">
                                            <% if (locals.errors && errors.email) { %>
                                                <span class="error-message">
                                                    <%= errors.email.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" id="telephonePro" type="text" name="telephone"
                                                placeholder="telefono" value="<%= user.telephone ? user.telephone : "" %>">
                                                <span class="error-message" id="telephoneErrorPro">
                                                    <%= (locals.errors && errors.telephone) ? errors.telephone.msg : "" %>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profileDatax">
                                <div class="form">
                                    <h3 class="profile-title">Datos de contacto</h3>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="address" placeholder="direccion" 
                                                <% if (user.addressesId !=null) { %> value="<%= user.Addresse.address ? user.Addresse.address : "" %>">
                                                <% } else { %>
                                                    <input class="input-style" type="text" name="address" placeholder="direccion" value="">
                                                    <% } %>

                                                    <span class="error-message" id="addressErrorPro">
                                                        <%= (locals.errors && errors.address) ? errors.address.msg : "" %>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="state" placeholder="estado" 
                                            <% if (user.addressesId !=null) { %>
                                            value="<%= user.Addresse.state ? user.Addresse.state : "" %>">
                                                <% } else { %>
                                                    <input class="input-style" type="text" name="state" placeholder="estado" value="">
                                                    <% } %>
                                                    <span class="error-message" id="stateErrorPro">
                                                        <%= (locals.errors && errors.state) ? errors.state.msg : "" %>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="city" placeholder="ciudad" 
                                            <% if (user.addressesId !=null) { %>
                                            value="<%= user.Addresse.city ? user.Addresse.city : "" %>">
                                                <% } else { %>
                                                    <input class="input-style" type="text" name="city" placeholder="ciudad" value="">
                                                    <% } %>
                                                    <span class="error-message" id="cityErrorPro">
                                                        <%= (locals.errors && errors.city) ? errors.city.msg : "" %>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="country" placeholder="pais" 
                                            <% if (user.addressesId !=null) { %>
                                            value="<%= user.Addresse.country ? user.Addresse.country : "" %>">
                                                <% } else { %>
                                                    <input class="input-style" type="text" name="country" placeholder="pais" value="">
                                                    <% } %>
                                                    <span class="error-message" id="cityErrorPro">
                                                        <%= (locals.errors && errors.country) ? errors.country.msg : "" %>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="postalCode" placeholder="codigo postal" 
                                            <% if (user.addressesId != null) { %>
                                            value="<%= user.Addresse.postalCode ? user.Addresse.postalCode : "" %>">
                                                <% } else { %>
                                                    <input class="input-style" type="text" name="postalCode" placeholder="codigo postal" value="">
                                                    <% } %>
                                                    <span class="error-message" id="pdErrorPro">
                                                        <%= (locals.errors && errors.postalCode) ? errors.postalCode.msg : "" %>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <span class="error-message" id="submitErrorPro"></span>
                            <button id="btn-submit2" type="submit" style="color: white" class="btn btn-submit">Guardar
                                Datos</button>
                        </div>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer')%>
    </body>

</html>