<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 
<script src="/js/registerVal.js" defer></script>

<body class="forms-form">
    <main>
        <div class="contain3r">
        <div class="form-container">
            <div style="order: 1" class="logo-container">
                <a href="/"><img class="myym" src="/img/logo-form.png" alt=""></a>
              </div>
            <div style="order: -1" class="form-content">
                <form id="formRe" action="/register" method="POST" novalidate>
                <div class="iniciar">
                    <h2>
                        Registrarse
                    </h2>
                    <h3>
                        ¿Ya tienes una cuenta? <a class="a" href="/login">Inicia sesion</a>
                    </h3>
                </div>
                <div class="form">
                    <div class="input-container">
                        <input class="input-style" type="text" id="userRe" name="user" value="<%= locals.old && old.user %>" placeholder="usuario">
                        <span class="error-message" id="userErrorRe"><%= (locals.errors  && errors.user) ? errors.user.msg : "" %></span>
                    </div>
                    <div class="form">
                        <div class="input-container">
                            <input class="input-style" type="email" id="emailRe" name="email" value="<%= locals.old && old.email %>" placeholder="email">
                                <span class="error-message" id="emailErrorRe"><%= (locals.errors  && errors.email) ? errors.email.msg : "" %></span>
                            </div>
                        <div class="form">
                            <div class="input-container">
                                <input class="input-style" type="password" id="passwordRe" name="password" value="<%= locals.old && old.password %>" placeholder="contraseña">
                                    <span class="error-message" id="passwordErrorRe"><%= (locals.errors  && errors.password) ? errors.password.msg : "" %></span>                     
                                </div>
                            <div class="form">
                                <div class="input-container">
                                    <input class="input-style" type="password" id="repasswordRe" name="repassword" value="<%= locals.old && old.repassword %>" placeholder="confirmar contraseña">
                                        <span class="error-message" id="repasswordErrorRe"><%= (locals.errors  && errors.repassword) ? errors.repassword.msg : "" %></span>                
                                    </div>
                                </div>
                                <div>
                                    <span class="error-message" id="submitErrorRe"></span>
                                    <button id="btn-submit" type="submit" style="color: white" class="btn btn-submit">Crear cuenta</button>
                                </div>
                        </div>
                    </div>
            </form>
        </div>
        </div>
    </main>
</body>

</html>